html, body {
  font-family: 'Pontano Sans', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation */

.main-nav-rechts {
  overflow: hidden;
  font-size: 15px;
  color: grey;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.main-nav-rechts ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

li {
  margin: 0px 10px;
  padding-right: 20px;
  padding-top: 20px;
  list-style: none;
}

a {
  font-size: 15px;
  color: black;
  letter-spacing: 0.8px;
  text-decoration: none;
  line-height: 1.5;
}
